.float-btn{
 background-color: #1976D2;
 width: 56;
 height: 56;
 text-align: center;
}
.float-btn-text{
    margin: 10;
    color: #ffffff;
    vertical-align: middle;
    margin-left: 10;
    font-size: 16;
}