Page {
  background-color: #ffffff;
  font-size: 15;
}
ActionBar{
  background-color: #1976D2;
  color: #ffffff;
  }
  Label{
    color: #1976D2;
    font-size: 30;
  }
  .top{
    margin-top:25%;
     
  }
  ScrollView{
    background-color: #e3f2fd;
  }
  .float-container{
margin-left:40; 
margin-top: 86%;
}
.sv{
width: 100%;
height: 100%;
margin-left: 10;
align-self: center;
}

  