StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: transparent;
}
Image {
    margin-top: 5;
    margin-bottom: 10;

}
Button, TextField {
   margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    background-color: white;
    height: 45px;
    border-radius: 22;
    color: #333;
    border: 1px solid;
    border-color: #0d7abd;
    text-align: center;
}
.text-pass {
    color: white;
    text-align: center;
    font-size: 14;
    margin-bottom: 5; 
}
.recover-button {
    background-color: #CB1D00;
    color: #fff;
    margin-top: 20;
    height: 50px;
    border-radius: 4px;
}
.code-button {
    background-color: #CB1D00;
    color: white;
    margin-top: 5;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 40;
}
.forget-button {
    background-color: transparent;
    color: goldenrod;
    margin-top: 50;
    margin-bottom: 20px;
    border: none;
}
.light-button {
    background-color: transparent;
    color: goldenrod;
    margin-bottom: 20px;
    border: none;
}
.submit-button {
    background-color: #0d7abd;
    color: white;
    margin-top: 15;
    height: 45px;
    border-radius: 22;
}