Page {
  background-color: #ffffff;
  font-size: 15;
}
ActionBar{
  background-color: #1976D2;
  color: #ffffff;
  }
  Label{
    color: #1976D2;
    font-size: 30;
  }
  .top{
    margin-top:25%;
    
  }
  .float-container{
/*margin-left:60; */
margin-top: 86%;
padding: 0 60;
}
.sv{
width: 100%;
height: 100%;
margin-left: 10;
align-self: center;
}
.list-group{
width: 100%;
height: 100%;
}
.item{
  margin: 0;
}
title{
  font-family: 'Material-Design-Iconic-Font';
    font-size: 35;
    width: 40;
    color: #ffffff;
    z-index: 999;
}
.sideStackLayout {
    background-color: #1976D2;
    color: #FFFFFF;
    margin-top: 20%;
    margin-left:15%;
    margin-right: 0;
}
 
.sideTitleStackLayout {
    padding: 16;
    font-weight: bold;
    background-color: #333333;
    margin-top: 0;
    margin-left:0;
    margin-right: 0;
}
 
.sideLabel {
    padding: 0;
    font-family: 'Material-Design-Iconic-Font';
    color: #FFFFFF;
    font-size: 20;
    margin-bottom: 15
}
 
.listItemStackLayout {
    padding: 16;
    background-color: #FFFFFF;
}
.sideStackLayout2{
  margin-top:290;
  font-family: 'Material-Design-Iconic-Font';
  color: #FFFFFF;
  font-size: 20;
}

  