StackLayout {
margin-left: 30;
margin-right: 30;
background-color: white;
}
Image {
margin-top: 5;
margin-bottom: 20;
}
TextField{
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;

}
Button{
    margin-left: 16;
    margin-right: 16;
    background-color: #1976D2;
    color: white;
    margin-top:20;
    border-radius: 50%
}
