Page {
  background-color: #ffffff;
  font-size: 15;
}
ActionBar{
  background-color: #1976D2;
  color: #ffffff;
  }
  Label{
    color: #1976D2;
    font-size: 30;
  }
  .top{
    margin-top:25%;
    
  }
  Button {
    margin-top: 50%;
    margin-bottom: 10;
    width: 250;
    background-color: #1976D2;
    color: white;
    border-radius: 50%;
    }