StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    background-color: transparent;
}
Image {
    margin-top: 5;
    margin-bottom: 20;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    background-color: white;
    height: 45px;
    border-radius: 22;
    color: #c6c18c;
    border: 1px solid #c6c18c;
    text-align: center;
}
.top-textFile{
    margin-top: 30px;
}
.submit-button {
    background-color: #0d7abd;
    color: white;
    margin-top: 15;
    height: 45px;
    border-radius: 22;
}
.top-buttom{
    margin-top: 40;
}
.forget-button {
    background-color: transparent;
    color: #CB1D00;;
    margin-top: 20;
    margin-bottom: 5;
    border: none;
    font-size: 18px;
}
.light-button {
    background-color: transparent;
    color: #c6c18c;
    border: none;
    font-size: 18px;
}
